<div class="home">
  <h2>BIENVENIDO A MATH'S TEC DONDE PODREMOS PROPORCIONARTE MATERIAL DE ESTUDIO PARA CIENCIAS BASICAS ESPECIALMENTE ENFOCADO A LAS ASIGNACIONES DE CALCULO</h2>

  <p>Esperamos darte la Bienvenida a Math'S Tec , nuestro Portal Academico 
    Aquí encontrarás herramientas interactivas, tutorías en línea y recursos educativos que te ayudarán a fortalecer tus conocimientos en Ciencias Básicas, mejorar tu rendimiento académico.
    Nuestro compromiso es apoyarte en cada paso de tu aprendizaje, brindándote un espacio accesible, dinámico y flexible para que desarrolles tus habilidades y superes los retos académicos.</p>
    


  <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="tec3.jpg" class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="tec1.jpg" class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="tec2.jpg" class="d-block w-100" alt="Image 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row align-items-center mt-5">
    <div class="col-md-6">
      <p>Esperamos darte la Bienvenida a Math'S Tec , nuestro Portal Academico 
        Aquí encontrarás herramientas interactivas, tutorías en línea y recursos educativos que te ayudarán a fortalecer tus conocimientos en Ciencias Básicas, mejorar tu rendimiento académico.
        Nuestro compromiso es apoyarte en cada paso de tu aprendizaje, brindándote un espacio accesible, dinámico y flexible para que desarrolles tus habilidades y superes los retos académicos.</p>
        
        
    </div>
    <div class="col-md-6">
      <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="C.jpg" class="d-block w-100" alt="Image 1">
          </div>
          <div class="carousel-item">
            <img src="Cie.png" class="d-block w-100" alt="Image 2">
          </div>
          <div class="carousel-item">
            <img src="fondo.jpg" class="d-block w-100" alt="Image 3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="col-md-12">
      <p>Esperamos darte la Bienvenida a Math'S Tec , nuestro Portal Academico 
        Aquí encontrarás herramientas interactivas, tutorías en línea y recursos educativos que te ayudarán a fortalecer tus conocimientos en Ciencias Básicas, mejorar tu rendimiento académico.
        Nuestro compromiso es apoyarte en cada paso de tu aprendizaje, brindándote un espacio accesible, dinámico y flexible para que desarrolles tus habilidades y superes los retos académicos.</p>
        
        
    </div>

  </div>
</div>
